.contact {
  //   @include border;
  width: 111vw;
  margin-right: 0;
  margin-left: 5rem;

  .contact__body {
    position: relative;
    width: 100vw;
    height: 100vh;
    // @include border;

    .get__in__touch {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      //   @include border;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-family: "Poppins";
        letter-spacing: 0.6px;
        margin-top: 2rem;
        color: #ded9ff;
      }

      a {
        text-decoration: none;
        display: inline-block;
        padding: 1rem 2.8rem;
        margin: 4rem 0;
        border: 2px solid $primary_color;
        color: $primary_color;
        border-radius: 30px;
        font-size: 1.1rem;
        font-weight: bold;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 00%;
          background: transparent;
          @include transition;
          border-radius: 30px;
          z-index: -1;
        }
        &:hover:before {
          border: 2px solid $primary_color;
          background: $primary_color;
          width: 100%;
        }
        &:hover {
          color: #000;
        }
      }
    }

    .social__links {
      position: absolute;
      z-index: 500;
      bottom: 12%;
      right: 5%;

      .icons {
        display: flex;
        flex-direction: column;

        a {
          display: inline-block;
          margin: 0.8rem 0;
          font-size: 1.5rem;
          color: $primary_text;
          @include transition;

          &:hover {
            color: $primary_color;
            transform: translateY(-4px);
          }
        }

        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 100px;
          background-color: rgb(168, 178, 209);
          margin: 0px auto;
        }
      }
    }

    .footer {
      margin: 0 auto;
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);
      text-align: center;

      p {
        font-size: 0.9rem;
        color: $primary_text;

        span {
          color: #fff;
        }
      }
    }
  }
}
