@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Inter&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap");

// Global Variables
$primary_background: #0a192f;
$primary_color: #51ffff;
$primary_text: #ccd6f6;

// border mixin
@mixin border {
  border: 1px solid white;
}

// Transition mixin
@mixin transition {
  transition: all 0.3s ease-in-out;
}
