.navbar {
  position: fixed;
  top: 10px;
  right: 40px;
  z-index: 100;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  transform-origin: center;

  .burger {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
      width: 0;
      border-radius: 50%;
      box-sizing: border-box;
      animation: animate 3s linear infinite;
      animation-delay: 1s;
    }

    @keyframes animate {
      0% {
        width: 65%;
        height: 65%;
        border: 3px solid $primary_color;
        opacity: 1;
      }
      100% {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    &.active .line {
      background: transparent;
    }

    &.active .line:before {
      width: 28px;
      top: 0;
      transform: rotate(135deg);
    }

    &.active .line:after {
      width: 28px;
      top: 0;
      transform: rotate(-135deg);
    }

    .line {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 0.25rem;
      background: #fff;
      border-radius: 5px;
      @include transition;

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 28px;
        height: 0.25rem;
        background: #fff;
        border-radius: 5px;
        @include transition;
      }

      &:before {
        top: -10px;
      }

      &:after {
        top: 10px;
      }
    }
  }

  .nav__list {
    position: absolute;
    top: 100%;
    right: -300%;
    opacity: 0;
    z-index: -1;
    background: #3f3f63;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;

    &.open {
      top: 100%;
      right: -50%;
      opacity: 1;
    }

    .list {
      .list__item {
        list-style: none;
        text-align: center;
        width: 100px;
        margin: 1.7rem 0;

        &:nth-child(1) {
          margin-top: 10px;
        }

        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.1rem;
          font-family: "Roboto mono";
          position: relative;

          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 2px;
            border-radius: 3px;
            width: 0%;
            background: transparent;
            transition: all 0.3s ease-in-out;
          }
          &:before {
            top: -4px;
            left: 0%;
          }
          &:after {
            bottom: -8px;
            right: 0%;
          }
        }

        &:hover a:before {
          background: cyan;
          width: 100%;
        }
        &:hover a:after {
          background: cyan;
          width: 100%;
        }
      }
    }
  }
}
