.projects {
  // @include border;
  width: 250vw !important;
  //   background: red;

  .project__container {
    // @include border;
    position: relative;
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    flex-wrap: wrap;
    padding: 6rem 3.5rem 2rem 2rem;

    .card {
      position: relative;
      cursor: pointer;
      height: 220px;
      max-width: 300px;
      background: #35355a;
      margin: 3rem 0rem;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
      @include transition;

      &:hover {
        height: 420px;
      }

      .img__box {
        position: relative;
        width: 230px;
        height: 210px;
        top: -50px;
        left: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      .details {
        margin-top: -160px;
        text-align: justify;
        padding: 10px;
        z-index: -1;
        font-family: "Poppins";
        visibility: hidden;
        opacity: 0;
        @include transition;

        h2 {
          text-align: center;
          padding: 6px 0;
          font-family: "Roboto mono";
        }

        p {
          // font-size: 0.9rem;
          letter-spacing: 0.5px;
          color: #e4e4e4;
          // text-align: ;
        }

        .view {
          position: absolute;
          bottom: 15px;
          right: 15px;
          margin-top: 1.3rem;
          text-align: right;

          a {
            text-align: right;
            text-decoration: none;
            font-size: 1.3rem;
            color: $primary_color;
            margin: 10px 12px;
            @include transition;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      &:hover .details {
        visibility: visible;
        opacity: 1;
        margin-top: -35px;
        z-index: 1;
        transition-duration: 0.4s;
      }
    }
  }
}
