.skills {
  @include border;

  .skills__content {
    // border: 2px solid red;
    height: 80%;

    .sub__heading {
      font-family: "Poppins";
      letter-spacing: 0.1rem;
      text-align: center;
      margin: 2rem 0;
    }
  }
}
