.sub__heading {
  font-family: "Poppins";
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.7rem;
}
.skills {
  .skills__content {
    height: 80%;

    .skills__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;

      .box {
        margin: 2rem 3.5rem;
        text-align: center;

        p {
          font-size: 1rem;
          color: $primary_text;
          font-weight: bold;
        }

        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}
