@import "config";
@import "navbar";
@import "home";
@import "about";
@import "skills";
@import "projects";
@import "contact";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary_background;
  color: #ffff;
  font-family: "Roboto mono";
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  width: 650vw;
}

.slide {
  height: 100vh;
  width: 100vw;
}
.outer__container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  scroll-behavior: smooth;
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .outer__container {
    transform: none;
    height: 100%;
    width: 100%;
  }
  .container {
    flex-direction: column;
    transform: none;
  }

  .home__content {
    text-align: center;
    .header {
      width: 100%;
      padding: 0;
      .hello {
        font-size: 1.9rem;
        margin-bottom: 10px;
      }
      .typer {
        font-size: 2.5rem;
      }

      .resume {
        padding: 12px 25px;
        margin-top: 30px;
        font-size: 1rem;
      }
    }
  }

  .scroll__indicator {
    display: none;
  }

  .page__heading {
    width: 100%;
    margin: 0;
    text-align: center;

    &:after {
      width: 0;
    }
  }
  .about {
    height: 140vh;

    .about__body {
      padding: 0;
      display: block;

      .portrait__box {
        margin: 2rem 0;
        width: 100%;

        .portrait {
          width: 220px;
          height: 290px;
          margin: 0 auto;

          &:before {
            border: 5px solid $primary_color;
          }
        }
      }

      .content {
        margin: 3rem auto;
        text-align: justify;
        width: 100%;

        h1 {
          text-align: center;
        }
      }
    }
  }

  .skills {
    // @include border;
    height: 120vh;
    margin-top: 10rem;

    .skills__content {
      height: 120vh;

      .sub__heading {
        padding: 0;
        margin: 0;
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }

      .skills__box {
        justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        padding: 0px;

        .box {
          margin: 2rem 1.5rem;
          // text-align: center;
        }
      }
    }
  }

  .projects {
    margin-top: 5rem;
    width: 100vw !important;
    height: 150vh;
  }

  .contact {
    margin: 0;
    padding: 0;
    // @include border;
    margin-top: 20rem;
    height: 100vh;
    width: 100vw;

    .get__in__touch {
      width: 100%;
      padding: 0 2rem;

      a {
        margin: 2rem 0 !important;
        padding: 0.5rem 1.8rem !important;
      }
    }

    .social__links {
      bottom: 10% !important;
      right: 27% !important;
      .icons {
        flex-direction: row !important;

        a {
          margin: 0.8rem 2rem !important;
        }
        &:after {
          height: 0 !important;
          width: 0 !important;
        }
      }
    }

    .footer {
      bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    right: 15px;
  }
  .nav__list.open {
    padding: 10px;
    right: 0px !important;
  }
  .home__content {
    text-align: center;
    .header {
      width: 100%;
      padding: 0;
      .hello {
        font-size: 1.8rem;
        margin-bottom: 7px;
      }
      .typer {
        font-size: 1.95rem;
      }

      .resume {
        padding: 15px 28px;
        margin-top: 30px;
        font-size: 0.8rem;
      }
    }
  }
  .about {
    margin-top: 5rem;
    height: 185vh;

    .content h1 {
      font-size: 1.7rem;
    }

    .content p {
      padding: 8px;
      font-size: 1rem !important;
    }
  }

  .skills {
    height: 110vh;
  }
  .projects {
    margin: 0;
    margin-top: 20rem;
    // width: 100vw !important;

    .project__container {
      padding: 2.5rem 0;
      // @include border;
      height: 200vh;
    }
  }

  .contact {
    margin: 0;
    padding: 0;
    margin-top: 75rem;
    height: 100vh;
    width: 100vw;

    .get__in__touch {
      h1 {
        font-size: 2rem !important;
      }
    }

    .social__links {
      bottom: 9% !important;
      right: 25% !important;
      .icons {
        a {
          margin: 0.8rem !important;
        }
      }
    }
    .footer {
      width: 100%;
      bottom: 0 !important;
    }
  }
}
