.about__page {
  margin-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0 1rem 2rem;
  display: inline-block;
  transition: all 0.4s ease-in;
  transform-origin: left;
  transform: scaleX(0);
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eb04ff, #ff4f00);
  transform-origin: right;
  transition: all 0.4s ease-in;
}

.heading[data-scroll="in"] {
  transform: scaleX(1);
}

.heading[data-scroll="in"]:before {
  transform: scaleX(0);
  transition-delay: 0.4s;
}

.about__body {
  display: flex;
  align-items: center;
  width: 100%;
}

.about__body .content {
  width: 60%;
}

.content .type {
  background: linear-gradient(to right, #eb04ff, #ff4f00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.content > p {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  letter-spacing: 0.01rem;
  margin-left: 2rem;
}

.content .resume {
  color: var(--primary-font-color);
  margin-top: 2rem;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  border: 1px solid #ffff;
  padding: 10px 20px;
}

.resume svg {
  margin-left: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.resume:hover > svg {
  transform: rotate(90deg);
}

@media only screen and (max-width: 768px) {
  .about__page {
    margin-top: 15vh;
    padding: 0;
    width: 100%;
  }
  .heading {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .about__body .content {
    width: 70%;
  }

  .content > p {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .content .resume {
    display: inline-flex;
    font-size: 1rem;
    padding: 8px 18px;
  }
}
