.navbar {
  border: 1px solid #fff;
  width: 13%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar__logo,
.navigation__top {
  flex: 0.15;
}

.navbar__links {
  width: 100%;
  flex: 0.7;
}

.navbar__links ul {
  border: 1px solid #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link > a {
  color: var(--secondary-font-color);
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}

.link.active > a {
  color: var(--primary-font-color);
}

.link .link__number {
  font-family: "Roboto Mono", monospace;
}

.link .link__name {
  opacity: 0;
}

.link.active .link__name {
  opacity: 1;
}
