.navbar {
  width: 100%;
  min-height: 8vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
  width: 1px;
  height: 100vh;
  background: rgba(170, 170, 170, 0.2);
}

.navbar__logo,
.navigation__top {
  flex: 0.15;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo .logo {
  height: 50%;
  width: 50%;
}
.navbar__links {
  width: 100%;
  flex: 0.7;
}

.navbar__links ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link > a {
  color: var(--secondary-font-color);
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}

.link.active > a {
  color: var(--primary-font-color);
}

.link {
  width: 100%;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: 99%;
  background: #fff;
  opacity: 0;
  transition: all 0.4s ease-in;
}
.link.active::after {
  opacity: 1;
}

.link .link__number {
  font-family: "Roboto Mono", monospace;
}

.link .link__name {
  transform: translateY(20px);
  transition: all 0.4s ease-in;
  opacity: 0;
}

.link.active .link__name {
  transform: translateX(0px);
  opacity: 1;
}

.navigation__top svg {
  color: var(--secondary-font-color);
  font-size: 2rem;
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  border-radius: 10px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in;
}

.burger .line1 {
  margin-bottom: 8px;
  width: 10px;
}
.burger .line2 {
  margin-bottom: 8px;
  width: 20px;
}
.burger .line3 {
  width: 30px;
}

.toggle .line1 {
  margin-bottom: 0;
  opacity: 0;
}

.toggle .line2 {
  margin-bottom: 0;
  width: 30px;
  transform: rotate(-45deg) translate(4px, 2px);
}

.toggle .line3 {
  width: 30px;
  transform: rotate(45deg) translate(1px, -5px);
}

@media only screen and (max-width: 768px) {
  .navbar {
    z-index: 3;
    width: 100%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--primary-background-color);
  }

  .navbar__links {
    background: var(--primary-background-color);
    position: absolute;
    top: 100vh;
    height: 100vh;
    left: 0;
    transition: all 0.4s ease;
  }

  .navbar__links.active {
    top: 0vh;
  }

  .burger {
    display: block;
    z-index: 5;
    padding-right: 10px;
  }
  .navigation__top {
    display: none;
  }

  .navbar__logo .logo {
    height: 60%;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar__logo .logo {
    height: 80%;
    width: 80%;
  }
}
