@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap");
$primary_background: #1111;
$primary_color: #51ffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

::-webkit-scrollbar {
  display: none;
}

.outer__container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;

  .slide {
    width: 100vw;
    height: 100vh;
  }
}

// Nav Bar

.navbar {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 100;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  transform-origin: center;

  .burger {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    box-sizing: border-box;
    background: #262626;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      box-sizing: border-box;
      border-radius: 50%;
      animation: animate 2s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
      width: 0;
      border-radius: 50%;
      box-sizing: border-box;
      animation: animate 3s linear infinite;
      animation-delay: 1s;
    }

    @keyframes animate {
      0% {
        width: 60%;
        height: 60%;
        border: 3px solid $primary_color;
        opacity: 1;
      }
      100% {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    &.active .line {
      background: transparent;
    }

    &.active .line:before {
      top: 0;
      transform: rotate(-135deg);
    }

    &.active .line:after {
      top: 0;
      transform: rotate(135deg);
    }

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 28px;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 28px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }

      &:before {
        top: -9px;
      }

      &:after {
        top: 9px;
      }
    }
  }

  .nav__list {
    position: absolute;
    top: 100%;
    right: -100%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

    &.open {
      top: 100%;
      right: -20%;
      opacity: 1;
    }
    .list {
      .list__item {
        list-style: none;
        text-align: center;
        padding: 10px 0px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.1rem;
          font-family: "Roboto mono";
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: -7px;
            left: 0%;
            height: 2px;
            border-radius: 3px;
            width: 0%;
            background: transparent;
            transition: all 0.3s ease-in-out;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -7px;
            right: 0%;
            height: 2px;
            border-radius: 3px;
            width: 0%;
            background: transparent;
            transition: all 0.3s ease-in-out;
          }
        }

        &:hover a:before {
          background: cyan;
          width: 100%;
        }
        &:hover a:after {
          background: cyan;
          width: 100%;
        }
      }
    }
  }
}

// #HOME SECTION
.home {
  background: radial-gradient(circle, #383838, #000000);
  color: #fff;

  #particles-js {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .home__content {
    height: 100%;
    width: 100%;
  }
}

.about {
  background-color: yellow;
  border: 2px solid green;
}

.skills {
  background-color: blue;
  border: 2px solid yellow;
}

.projects {
  background-color: green;
  border: 2px solid brown;
}

// #Media Queries
@media (max-width: 991px) {
  .outer__container {
    transform: none !important;
    width: 100%;
    height: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    transform: none !important;
  }
}
